<div class="click-vote">
  <%= image_tag "delete30.svg", id:'downvote',  class: "b-large vote-button" %>
  <%= image_tag "microphone28.svg", id: 'mic',  class: 'b-med'%>
  <%= image_tag "check.svg", id:'upvote',       class: "b-large vote-button" %>
</div>
