<div class="navbar">
<ul>
  <li><a href="">link1</a></li>
  <li><a href="">link2</a></li>
  <li><a href="">link3</a></li>
</ul>
</div>

<div class="click-vote">
  <button class="b-large"><%= link_to (image_tag "thumb21.svg"), root_path %></button>
  <button class="b-med">i</button>
  <button class="b-large"><%= link_to (image_tag "thumb22.svg"), root_path %></button>
</div>