<div class="modal-no-clips">
  <h1>You are out of clips!</h1>
  <%= image_tag 'delete30.svg', id: 'cancel', class: 'close-no-clips' %>
  <p>We're sorry, you have voted on all available clips. Please come back later to vote on new clips! Thank you!</p>

</div>