<div id="jquery_jplayer_1" class="jp-jplayer">
</div>

<div id="jp_container_1" class="jp-audio">
  <div class="percent-wrapper">
    <span class="rating"></span>
  </div>
  <div class = "nope rotatenope">nope</div>
  <div class = "like rotatelike">like</div>
  <a href="javascript:;" class="jp-play" tabindex="1"><%= image_tag 'cassette8.svg', id:'cassette' %></a>
  <div id="open-no-clips"></div>
</div>
