<div id="jquery_jplayer_1" class="jp-jplayer"></div>
	<div id="jp_container_1" class="jp-audio">
    <div class="like rotate"> Like</div>
    <div id = "nope"> Nope</div>
		<a href="javascript:;" class="jp-play" tabindex="1"><%= image_tag 'cassette8.svg', id:'cassette', class: 'media-center' %></a>
	</div>


