
<div id="user_nav">

  <% if current_user %>

   <%= render 'nav' %>
   <%= render 'player' %>
  <div class="modal">
  <div class='clip-form'>
      <%= render 'clips/new_clip' %>
  </div>
  </div>

  <% else %>
      <%= render 'login' %>
  <% end %>

</div>