@import url(http://fonts.googleapis.com/css?family=Grand+Hotel|Pacifico|Vibur);

/*
font-family: 'Grand Hotel', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Vibur', cursive;
*/


.modal {
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 70%;
    height: 30%;
    background-color: #ffffff;
    padding:8px;
    border: 1px solid #adadad
}

