@media (max-width : 600px) {
.b-large{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: solid 15px #adf3de;
  background-color: white;
  margin: 0 0 20px 0;
}
#mic{
  width: 25px;
  height: 25px;
}
#cassette{
  height: 300px;
  width: 300px;
}





  #clip_upload input{
    margin: 2px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
  }



   .modal-content h2{
    font-family: 'Pacifico', cursive;
    color: #ff3c3d;
    }

  .record{

    margin-right: 5px;
    margin-left: 5px;
    border: none;
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color: #ececec;
  }

  #record{
    height: 15px;
    width: 15px;
  }

  .record:hover{
    background-color: #dedede;
  }

}