@media (max-width : 600px) {
.b-large{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: solid 15px #adf3de;
  background-color: white;
  margin: 0 0 20px 0;
}
#mic{
  width: 25px;
  height: 25px;
}
#cassette{
  height: 300px;
  width: 300px;
}
#clip_upload input{
  background-color: #f0f0f0;
  border: none;
  border-radius: 2px;
}
}