<!DOCTYPE html>
<html>
<head>
  <title>StageFright</title>
  <meta name="viewport" content="width=device-width">
          <link href="http://jplayer.org/css/jPlayer.css" rel="stylesheet" type="text/css" />        
        <!--<link href="http://jplayer.org/latest/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />--> 
        <link href="http://jplayer.org/latest/skin/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />       
        <link href="http://jplayer.org/latest/skin/circle.skin/circle.player.css" rel="stylesheet" type="text/css" />
        
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>    
        <script type="text/javascript" src="http://jplayer.org/2.1.0/js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="http://jplayer.org/latest/js/jquery.transform.js"></script>
        <script type="text/javascript" src="http://jplayer.org/latest/js/jquery.grab.js"></script>
        <script type="text/javascript" src="http://jplayer.org/latest/js/mod.csstransforms.min.js"></script>
        <script type="text/javascript" src="http://jplayer.org/latest/js/circle.player.js"></script>    
  <%= csrf_meta_tags %>

</head>
<body>
    <%= yield %>
</body>
</html>
